doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
    script(src="javascripts/lib/jquery/dist/jquery.min.js")
    script(src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/lib/fabric/dist/fabric.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")
